<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/${project.databaseName}"
		expected-type="javax.sql.DataSource" />


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="packagesToScan">
			<list>
				<value>${project.domainName}.${project.projectName}</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.jdbc.batch_size">10</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">false</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
#if ($project.audited)
		<property name="eventListeners">
			<map>
				<entry key="post-insert" value-ref="enversEventListener" />
				<entry key="post-update" value-ref="enversEventListener" />
				<entry key="post-delete" value-ref="enversEventListener" />
				<entry key="post-collection-recreate" value-ref="enversEventListener" />
				<entry key="pre-collection-remove" value-ref="enversEventListener" />
				<entry key="pre-collection-update" value-ref="enversEventListener" />
			</map>
		</property>
#end

	</bean>

#if ($project.audited)
	<bean id="enversEventListener" class="org.hibernate.envers.event.AuditEventListener" />
	
#end
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

</beans>