<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:property-placeholder location="classpath:${project.projectName}.properties"/>
	
	<context:annotation-config/>
	
	<context:component-scan base-package="${project.domainName}.${project.projectName}">
	
	</context:component-scan>
	
	<aop:aspectj-autoproxy />
	
	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="view">
					<bean class="org.sklsft.commons.mvc.scopes.ViewScope" />
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="localeManager" class="org.sklsft.commons.mvc.i18n.JsfLocaleManager"
		scope="session">
	</bean>


	<bean id="messageHandler" class="org.sklsft.commons.mvc.messages.JsfMessageHandler">
	</bean>
	
	
	<bean id="redirectionHandler" class="org.sklsft.commons.mvc.redirection.JsfRedirectionHandler">
	</bean>


	<bean id="ajaxMethodAspect" class="org.sklsft.commons.mvc.ajax.AjaxMethodAspect">
		<property name="messageHandler" ref="messageHandler" />
	</bean>
	
	<bean id="ajaxMethodExecutor" class="org.sklsft.commons.mvc.ajax.AjaxMethodExecutor">
		<property name="messageHandler" ref="messageHandler" />
	</bean>

</beans>