package ${project.model.enversPackageName};

import javax.persistence.Entity;

import org.hibernate.envers.DefaultRevisionEntity;
import org.hibernate.envers.RevisionEntity;


@Entity
@RevisionEntity(AuditListener.class)
public class AuditEntity extends DefaultRevisionEntity {

	private static final long serialVersionUID = 1L;

	private String login;

	public String getLogin() {
		return login;
	}
	public void setLogin(String login) {
		this.login = login;
	}
}