<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:jee="http://www.springframework.org/schema/jee"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd">

	<bean id="requestFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory" />
	
	<bean id="bufferedHttpRequestFactory" class="org.springframework.http.client.BufferingClientHttpRequestFactory">
        <constructor-arg ref="requestFactory"></constructor-arg>
    </bean>
	
	<bean id="errorReportHandler" class="org.sklsft.commons.rest.client.exception.ErrorReportHandler">
		<property name="objectMapper" ref="objectMapper"/>
	</bean>
	
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="errorHandler" ref="errorReportHandler"/>
        <property name="interceptors">
        	<list>
            	<bean class="org.sklsft.commons.rest.client.interceptors.CorrelationIdInterceptor" />
                <bean class="org.sklsft.commons.rest.client.interceptors.RestClientLoggerInterceptor">
                	<property name="accessLogger" ref="accessLogger"/>		
					<property name="traceRequestPayload" value="${log.traceRequestPayload}"/>
					<property name="traceResponsePayload" value="${log.traceResponsePayload}"/>
                </bean>
            </list>
        </property>
        <property name="messageConverters">
	        <list>
	            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	                <property name="objectMapper" ref="objectMapper"/>
	            </bean>
	        </list>
		</property>
    </bean>
    
    <bean id="restClient" class="org.sklsft.commons.rest.client.RestClient">
    	<property name="restTemplate" ref="restTemplate"/>
    	<property name="restServerUrl">
			<jee:jndi-lookup jndi-name="java:comp/env/restServerUrl" />
		</property>
    </bean>
    
</beans>