DROP SCHEMA IF EXISTS public CASCADE;
CREATE SCHEMA public;

-------------------------------------------------------------
---- FUNCTION normalize : unaccent and lowercase  ----
-------------------------------------------------------------
CREATE OR REPLACE FUNCTION normalize(text)
RETURNS text
IMMUTABLE
STRICT
LANGUAGE SQL
AS $$
SELECT translate(
    lower($1),
    'àâäèéêëîïôöûü',
    'aaaeeeeiioouu'
);
$$;


#if ($project.audited)	
CREATE TABLE auditentity
(
id BIGINT NOT NULL,
"timestamp" BIGINT NOT NULL,
login VARCHAR(255),
CONSTRAINT auditentity_pkey PRIMARY KEY (id)
);

CREATE SEQUENCE hibernate_sequence
INCREMENT 1
MINVALUE 1
MAXVALUE 9223372036854775807
START 1
CACHE 1;
#end
