package ${project.model.businessExceptionPackageName};

public abstract class BusinessException extends RuntimeException {

	private static final long serialVersionUID = 1L;
	
	public static final String ERROR_UNKNOWN = "error.unknown";
	public static final String VALIDATION_FAILURE = "validation.failed";
	
	private String message;
	

	public BusinessException(){
		super();
	}
	
	public BusinessException(String message) {
		super(message);
		this.message = message;

	}

	public BusinessException(String message, Throwable cause) {
		super(message, cause);
		this.message = message;
	}
	
	@Override
	public String getMessage() {
		return this.message;
	}
	
	public void setMessage(String message) {
		this.message = message;
	}
}