package ${project.model.stateExceptionPackageName};

import ${project.model.businessExceptionPackageName}.BusinessException;

public class InvalidStateException extends BusinessException {

	private static final long serialVersionUID = 1L;

	public InvalidStateException(String message) {
		super(message);
	}

	public InvalidStateException(String message, Throwable cause) {
		super(message, cause);
	}
}