package ${project.model.daoInterfacePackageName};

import java.util.List;

public interface BaseDao<T> {

	/**
	 * load object list
	 */
	List<T> loadList();

	/**
	 * load object list eagerly
	 */
	List<T> loadListEagerly();

	/**
	 * load object
	 */
	T load(Long id);

	/**
	 * get object
	 */
	T get(Long id);

	/**
	 * save object
	 */
	Long save(T obj);

	/**
	 * delete object
	 */
	void delete(T obj);

	/**
	 * flush
	 */
	void flush();

	/**
	 * evict obj
	 */
	void evict(T obj);

	/**
	 * clear
	 */
	void clear();
}