<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
	http://maven.apache.org/xsd/maven-4.0.0.xsd">
	
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>${project.domainName}.${project.projectName}</groupId>
		<artifactId>${project.projectName}-root</artifactId>
		<version>1.0.0-SNAPSHOT</version>
	</parent>

	<artifactId>${project.model.restArtefactName}</artifactId>
	<name>${project.model.restArtefactName}</name>
	<packaging>war</packaging>


	<dependencies>
	
		<!-- spring boot -->
		<dependency>
	        <groupId>org.springframework.boot</groupId>
	        <artifactId>spring-boot-starter-web</artifactId>
	    </dependency>
	    
	    <dependency>
		   <groupId>org.springframework.boot</groupId>
		   <artifactId>spring-boot-starter-tomcat</artifactId>
		   <scope>provided</scope>
		</dependency>
	    
	    <dependency>
	        <groupId>org.springframework.boot</groupId>
	        <artifactId>spring-boot-starter-aop</artifactId>
	    </dependency>
	    
	
		<dependency>
			<groupId>${project.domainName}.${project.projectName}</groupId>
			<artifactId>${project.model.servicesArtefactName}</artifactId>
		</dependency>
		
		
		<!-- skeleton commons -->
		<dependency>
			<groupId>org.sklsft.commons</groupId>
			<artifactId>commons-rest</artifactId>
		</dependency>
		
		<!-- postgresql drivers -->
		<dependency>
			<groupId>org.postgresql</groupId>
			<artifactId>postgresql</artifactId>
		</dependency>

		<!-- oracle drivers -->
		<dependency>
			<groupId>com.oracle.database.jdbc</groupId>
			<artifactId>ojdbc8</artifactId>
		</dependency>		
				
		<!-- apache commons -->
		<dependency>
			<groupId>commons-dbcp</groupId>
			<artifactId>commons-dbcp</artifactId>
		</dependency>
		
		<dependency>
			<groupId>commons-digester</groupId>
			<artifactId>commons-digester</artifactId>
		</dependency>
		
	</dependencies>
	
	<build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <goals>
                            <goal>repackage</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>

</project>