<div class="app-header">
  <div class="container">
    <div class="app-menu">
      <button mat-icon-button (click)="toggle.emit()" class="app-menu-button" mat-icon-button>
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
    </div>
    <a routerLink="/">
      <img alt="Logo" class="app-logo"
              src="/assets/images/logo.png"/>
      <div class="app-brand">
        <h1>${project.projectName}</h1>
      </div>
    </a>
  </div>
</div>
