@use '@angular/material' as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */

.content-centered {
  text-align: center;
}

h2 {
  margin-top:0.5em;
  margin-bottom:0.5em;
  font-size: 1.3em;
  font-weight: normal;
  color:rgba(0, 0, 0, 0.87);
}

label {
  font-weight:bold;
}

.text-grey {
  color:#767676!important;
}

.text-grey-darker {
  color:#413c48!important;
}

.text-success {
  color: #5cb85c;
}

.text-warn {
  color: #ff4081;
}

.table-header {
  color: #000!important;
  background-color: #ccccf4!important;
}

.mat-mdc-cell {
  font-size:0.75em;
}

.mat-mdc-cell > a > img {
  height:20px;
}

.details-form .mat-form-field {
  width:50% !important;
}

.modal-form {
  width:500px !important;
}
.modal-form .mat-form-field {
  width:100% !important;
}

.margin-10 {
  margin-left:10px;
}

a {
  text-decoration: none;
}

a.blue-link {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul.list-group {
  list-style-type: none;
}

.separator-top {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.separator-bottom {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.mat-mdc-snack-bar-container.notification-info-style {
  --mdc-snackbar-container-color:: white;
  --mdc-snackbar-supporting-text-color:green;
  --mat-snack-bar-button-color: blue;
}

.mat-mdc-snack-bar-container.notification-error-style {
  --mdc-snackbar-container-color:: white;
  --mdc-snackbar-supporting-text-color:red;
  --mat-snack-bar-button-color: blue;
}


.badge {
  padding:1em;
  margin:0.5em;
  border-radius: 1em;
  font-size:0.75em;
  background-color: white;
}

.badge h2 {
  font-size:2em;
}

