package ${project.model.commandPackageName};

import java.util.List;

/**
 * interface used to create an insert command
 */
public interface Command {

	/**
	 * method that executes an service method from view object
	 */
	void execute(List<Object[]> argsList);
}
