package ${project.model.commandPackageName};

import org.sklsft.generator.repository.backup.command.interfaces.BackupArgumentsCommand;
import org.springframework.beans.BeansException;
import org.springframework.context.ApplicationContext;
import org.springframework.context.ApplicationContextAware;
import org.springframework.stereotype.Component;

/**
 * auto generated command factory class file <br/>
 * no modification should be done to this file <br/>
 * processed by skeleton-generator
 */
@Component
public class CommandFactory implements ApplicationContextAware {

	private ApplicationContext applicationContext;

	@Override
	public void setApplicationContext(ApplicationContext applicationContext) throws BeansException {
		this.applicationContext = applicationContext;
	}

	/**
	 * create the appropriate command depending on what table is used for
	 * population.
	 */
	public Command getCommand(String classSimpleName) {

		return (Command) applicationContext.getBean(classSimpleName);
	}
	
	public Command getCommand(Class<?> commandClass) {

		return (Command) applicationContext.getBean(commandClass);
	}
}