package ${project.model.servicesPackageName};

import org.hibernate.SessionFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.orm.hibernate5.HibernateTransactionManager;
import org.springframework.transaction.annotation.EnableTransactionManagement;

@Configuration
@EnableTransactionManagement
public class ServicesConfig {

	@Autowired
	private SessionFactory sessionFactory;
	
	@Bean
	public HibernateTransactionManager transactionManager() {
		HibernateTransactionManager result = new HibernateTransactionManager();
		result.setSessionFactory(sessionFactory);
		return result;
	}
}
