

div#menu .rich-ddmenu-label {
	border-bottom:1px solid;
	font-size: 11px;
	font-weight: bold;
	height:20px;
	width:190px;
	margin:0px 0px 0px 0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:0px;
	padding-right:0px;
}

div#menu .rich-ddmenu-label-select {
	border-bottom:1px solid;
	font-size: 11px;
	font-weight: bold;
	height:20px;
	width:190px;
	color:rgb(100,100,100);
	background-color:rgb(240, 240, 240);
	margin:0px 0px 0px 0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:0px;
	padding-right:0px;
}

div#menu .rich-ddmenu-label-unselect {
	border-bottom:1px solid;
	font-size: 11px;
	font-weight: bold;
	height:20px;
	width:190px;
	margin:0px 0px 0px 0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:0px;
	padding-right:0px;
}

div#menu .rich-ddmenu-label-text-decor {
	border-bottom:1px solid;
	font-size: 11px;
	font-weight: bold;
	height:20px;
	width:200px;
	margin:0px 0px 0px 0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:0px;
	padding-right:0px;
}

div#menu .rich-menu-list-border {
	border:none;
	background-color:white;
}

div#menu .rich-menu-list-bg {
	border:1px solid rgb(220, 220, 220);
	background-color:white;
}

div#menu .rich-menu-group {
	font-size: 11px;
	font-weight: bold;
	height:15px;
	width:150px;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	padding-left:5px;
	padding-bottom:3px;
	padding-right:0px;
	background-color:white;
	background-image:none;
}

div#menu .rich-menu-group-hover {
	font-size: 11px;
	font-weight: bold;
	height:15px;
	width:150px;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	padding-left:5px;
	padding-bottom:3px;
	padding-right:0px;
	color:rgb(100, 100, 100);
	background-color:rgb(240, 240, 240);
	background-image:none;
	border:1px solid rgb(220, 220, 220);
}

div#menu .rich-menu-item {
	font-size: 11px;
	font-weight: bold;
	height:15px;
	width:150px;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	padding-left:5px;
	padding-bottom:3px;
	padding-right:0px;
	background-color:white;
	background-image:none;
}

div#menu .rich-menu-item-hover {
	font-size: 11px;
	font-weight: bold;
	height:15px;
	width:150px;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	padding-left:5px;
	padding-bottom:3px;
	padding-right:0px;
	color:rgb(100, 100, 100);
	background-color:rgb(240, 240, 240);
	background-image:none;
	border:1px solid rgb(220, 220, 220);
}



