<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property resource="application.properties" />

	<!--Console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>
					{"@timestamp":"%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"}","threadId":"%thread","logLevel":"%-5level","channel":"%X{channel}","transactionId":"%X{transactionId}","correlationId":"%X{correlationId}","logMessage":%msg}%n
				</pattern>
			</layout>
		</encoder>
	</appender>
	
	<root level="${log.level}">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>