package ${project.model.processorPackageName};

public interface Processor<T> {

	/**
	 * process save
	 */
	Long save(T obj);

	/**
	 * process update
	 */
	void update(T obj);

	/**
	 * process delete
	 */
	void delete(T obj);
}