<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
	http://maven.apache.org/xsd/maven-4.0.0.xsd">
	
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>${project.domainName}.${project.projectName}</groupId>
		<artifactId>${project.projectName}-root</artifactId>
		<version>1.0.0-SNAPSHOT</version>
	</parent>

	<artifactId>${project.projectName}-business-component</artifactId>
	<name>${project.projectName}-business-component</name>

	<packaging>jar</packaging>

	<dependencies>
	
		<dependency>
			<groupId>${project.domainName}.${project.projectName}</groupId>
			<artifactId>${project.projectName}-repository</artifactId>
		</dependency>
		
		<dependency>
			<groupId>${project.domainName}.${project.projectName}</groupId>
			<artifactId>${project.projectName}-api</artifactId>
		</dependency>
		
		<!-- skeleton commons -->
		<dependency>
			<groupId>org.sklsft.commons</groupId>
			<artifactId>commons-crypto</artifactId>
		</dependency>
		
		<dependency>
			<groupId>org.sklsft.commons</groupId>
			<artifactId>commons-mapper</artifactId>
		</dependency>
		
		
		<!-- Spring transactions -->
		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-tx</artifactId>
		</dependency>
		
	</dependencies>

</project>