<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
		<property name="serializationInclusion" value="NON_NULL"/>			
	</bean>
	
	<bean name="jsonSerializer" class="org.sklsft.commons.crypto.serialization.JsonSerializer">
		<constructor-arg name="objectMapper" ref="objectMapper"/>
	</bean>
	
	<bean name="accessLogger" class="org.sklsft.commons.log.AccessLogger">
		<constructor-arg name="serializer" ref="jsonSerializer"/>
	</bean>
	
	<bean name="errorLogger" class="org.sklsft.commons.log.ErrorLogger">
		<constructor-arg name="serializer" ref="jsonSerializer"/>
	</bean>

</beans>