/**
* sections
*/
h1 {
	font-size:24px;
	font-weight:bold;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	padding-top:20px;
	padding-bottom:20px;

}

h2 {
	width:100%;
	font-size:14px;
	font-weight:bold;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	padding: 2px 4px 2px 4px;
	border-bottom:1px solid;
}

/**
* inputs
*/
input[type="text"] {
	font-size:11px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	padding: 2px 4px 2px 4px;
}

select {
	font-size:11px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	padding: 2px 4px 2px 4px;
}

input[type="input"] {
	font-size:11px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	padding: 2px 4px 2px 4px;
}

/**
* tables definitions
*/
.rich-table {
	border-right: 1px solid #C0C0C0;
	width:100%;
}

.rich-table-cell {
	font-size:10px;
}

.rich-table-subheadercell {
	vertical-align: top;
	color: white;
}

.rich-table-headercell {
	font-size: 12px;
	font-weight: bold;
}

.rich-table-header {
	font-size: 10px;
	font-weight: bold;
	background-color: rgb(100,100,100);
	background-image: none;
}

.rich-table-subheader {
	font-size: 10px;
	font-weight: bold;
	background-color: rgb(0,120,150);
	background-image: none;
	color: white;
}


.datatableRow {
	font-size: 8px;
	color: #000000;
	background-color: #FFFFFF;
	height: 22px;
}

.datatableRowLight {
	font-size: 8px;
	color: #000000;
	background-color: #E8F5FC;
	height: 22px;
}

.rich-datascr {
	padding-top:12px;
}

.dataTableFilter {
	width:80%;
}


/**
* commands
*/

.imageIcon {
	width: 19px;
	height: 19px;
	border: 0px;
}

.processImage {
	width: 100%;
	height: 100%;
	border: 0px;
}

.simpleButton {
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	color: white;
	background-color: rgb(100,100,100);
	border: 1px black solid;
}
	

/**
* details pages
*/

.commandLinkText {
	color:black;
}

.detailErrorMessage {
	color: darkred;
}

.editableString {
	width: 300px;
}

.notEditableString {
	width: 300px;
	background: lightgrey;
}

.editableCalendar {
	width: 280px;
}


/**
* faces messages
*/
.errorMessage {
	color:red;
	font-size: 11px;
	font-weight:bold;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	border-width:1px;
	border-style:solid;
	border-color:red;
	background-color:#FFCCCC;
	width:95%;
}

.infoMessage {
	color:green;
	font-size: 11px;
	font-weight:bold;
	align:center;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	border-width:1px;
	border-style:solid;
	border-color:green;
	background-color:palegreen;
	width:95%;
}


/**
* popups
*/
.rich-mpnl-panel{
	position:static;
}


/**
* tabs
*/
div#right .rich-tab-bottom-line {
	border-bottom-color:rgb(200,200,200);
}

div#right .rich-tabpanel-content {
	background-color: #FFF;
	color: #000;
	border-bottom-color: rgb(200,200,200);
	border-right-color: rgb(200,200,200);
	border-left-color: rgb(200,200,200);
	font-size: 11px;
	font-family: Arial,Verdana,sans-serif;
}

div#right .rich-tab-active {
	border-color:rgb(200,200,200);
	background-color: rgb(100,100,100);
	color:white;
	background-image:none;
	padding: 4px 12px 4px 12px;
}

div#right .rich-tab-header {
	border-color:rgb(200,200,200);
}

div#right .rich-tab-inactive {
	background-color: rgb(200,200,200);
	color:white;
	background-image:none;
	padding: 4px 12px 4px 12px;
}


/**
* toolbar
*/
div#right .rich-toolbar {
	height:20px;
	color: white;
	background-image:none;
	background-color:rgb(100,100,100);
}

div#right .rich-toolbar-item {
	height:20px;
	color: white;
	background-image:none;
	background-color:rgb(100,100,100);
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

div#right .rich-toolbar-item:hover {
	height:20px;
	color: white;
	background-image:none;
	background-color:rgb(100,100,100);
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

div#right .rich-ddmenu-label {
	font-size: 11px;
	font-weight: bold;
	height:16px;
	margin:0px 0px 0px 0px;
	padding-top:6px;
	padding-left:10px;
	padding-bottom:6px;
	padding-right:10px;
}

div#right .rich-ddmenu-label-select {
	font-size: 11px;
	font-weight: bold;
	height:16px;
	color:rgb(100,100,100);;
	background-color:rgb(240, 240, 240);
	margin:0px 0px 0px 0px;
	padding-top:6px;
	padding-left:10px;
	padding-bottom:6px;
	padding-right:10px;
	border:none;
}

div#right .rich-ddmenu-label-unselect {
	font-size: 11px;
	font-weight: bold;
	height:16px;
	margin:0px 0px 0px 0px;
	padding-top:6px;
	padding-left:10px;
	padding-bottom:6px;
	padding-right:10px;
}



div#right .rich-menu-list-border {
	border:none;
	background-color:white;
}



div#right .rich-menu-item {
	font-size: 11px;
	font-weight: bold;
	height:15px;
	width:150px;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	padding-left:5px;
	padding-bottom:3px;
	padding-right:0px;
	background-color:white;
	background-image:none;
}

div#right .rich-menu-item-hover {
	font-size: 11px;
	font-weight: bold;
	height:15px;
	width:150px;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	padding-left:5px;
	padding-bottom:3px;
	padding-right:0px;
	color:rgb(100, 100, 100);
	background-color:rgb(240, 240, 240);
	background-image:none;
	border:1px solid rgb(220, 220, 220);
}