body{
	background-color: white;
	margin-left:0px;
	margin-right:0px;
	font-size:12px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
}

div#header-wrapper {
	position:fixed;
	top:0px;
	width:100%;
	height:100px;
	margin-left:0px;
	margin-right:0px;
	border-bottom:1px solid rgb(220, 220, 220);
	background-color: rgb(240, 240, 240);
	z-index:2;
}

div#page-wrapper {
	margin-top:100px;
	margin-bottom:50px;
	width:100%;
}

div#footer-wrapper {
	position:fixed;
	bottom:0px;
	width:100%;
	height:50px;
	margin-left:0px;
	margin-right:0px;
	border-top:1px solid rgb(220, 220, 220);
	background-color: rgb(240, 240, 240);
	z-index:2;
}

div#header-wrapper div#header {
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	height:100px;
}

div#header-wrapper div#header div#header-logo {
	float:left;
	width:200px;
	height:100px;
	text-align:center;
}

div#header-wrapper div#header div#header-image {
	float:left;
	width:1000px;
	height:100px;
}

div#page-wrapper div#page {
	margin-left:auto;
	margin-right:auto;
	width:1200px;
}

div#page-wrapper div#page div#left {
	float:left;
	width:200px;
	height:500px;
}

div#page-wrapper div#page div#left div#menu {
	padding-top:80px;
	padding-bottom:80px;
	margin-top:1px;
	width:200px;
	position:fixed;
	background-color: white;
	z-index:2;
}

div#page-wrapper div#page div#right {
	float:left;
	width:960px;
	padding-left:30px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:60px;
}

div#footer-wrapper div#footer {
	font-size:13px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	width:1200px;
}
