package ${project.model.serviceExceptionPackageName};

public class InvalidStateException extends RuntimeException {

	private static final long serialVersionUID = 1L;

	public InvalidStateException(String message) {
		super(message);

	}

	public InvalidStateException(String message, Throwable cause) {
		super(message, cause);
	}
}