<configuration>

	<!--Console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				[%d{dd/MM HH:mm:ss.SSS}][%-5level][%logger{36}] - %M : %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="${project.domainName}" level="${log.app.level}">
	</logger>
	
	<logger name="org.sklsft" level="${log.app.level}">
	</logger>

	<root level="${log.root.level}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>