<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property resource="application.properties" />

	<!--Console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				[%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"}][%-5level] %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="${project.domainName}" level="${log.app.level}">
	</logger>
	
	<logger name="org.sklsft" level="${log.app.level}">
	</logger>

	<root level="${log.root.level}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>