<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:property-placeholder location="classpath:${project.projectName}.properties" />

	<context:annotation-config />

	<context:component-scan base-package="${project.domainName}.${project.projectName}">
	</context:component-scan>
	
	<!-- for data injectors -->
	<bean class="org.sklsft.generator.repository.backup.command.impl.JUnitDataInjector"/>
	<bean class="org.sklsft.generator.repository.backup.command.impl.BackupArgumentsCommandFactory"/>

	<!-- aspects -->
	<aop:aspectj-autoproxy />
	
	<import resource="classpath:applicationContext-${project.projectName}-services.xml"/>
	<import resource="classpath:applicationContext-${project.projectName}-business-component.xml"/>
	<import resource="classpath:applicationContext-${project.projectName}-repository.xml"/>

</beans>
