package ${project.model.testExceptionPackageName};

public class CommandFailureException extends Exception {

	private static final long serialVersionUID = 1L;

	public CommandFailureException(String message) {
		super(message);

	}

	public CommandFailureException(String message, Throwable cause) {
		super(message, cause);
	}
}